/* TIPOGRAFÍAS */

@font-face {
    font-family: 'Kepler';
    src: url('../fonts/KeplerStdBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kepler';
    src: url('../fonts/KeplerStdRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSans-Bold';
    src: url('../fonts/SourceSans3-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSans-Regular';
    src: url('../fonts/SourceSans3-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F5C144;
    font-family: 'SourceSans-Regular', sans-serif;
}

* {
    position: relative;
    box-sizing: border-box;
}

/* CABECERA */

.cabecera {
    width: 100%; height: 80px;
}

.confi {
    width: 35px; height: 35px;
    background-image: url(../img/icon-confi.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left; margin: 25px;
    z-index: 1000;
}

.money {
    width: auto;
    min-width: 80px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    float: right;
    margin: 25px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.money span{
    font-weight: bold;
    margin-right: 5px;
}

/* PERFIL */

.perfil-superior {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.circle-blanc {
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.img-perfil {
    width: 165px; height: 165px;
    border-radius: 50%;
    background-image: url(../img/raquel.png); /* Tu imagen aquí */
    background-size: cover;
    background-position: center;
}

.img-editar {
    width: 35px; height: 35px;
    background-color: white;
    background-image: url(../img/icon-edit-pencil.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

/* TARJETA BLANCA */

.card-info {
    background-color: white;
    width: 90%; margin: 0 auto 120px auto;
    border-radius: 30px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.05);
}

.label-mini {
    font-family: 'SourseSans-Bold', sans-serif;
    color: #A5A3A3;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}
.label-mini.left {
    text-align: left;
    margin-top: 20px;
}

.user-name {
    font-family: 'Kepler', serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-shadow: 0.8px 0.8px 1px rgba(0, 0, 0, 0.3); 
}

.btn-editar-main {
    background-color: #FFBE00;
    color: white;
    border: none;
    padding: 6px 40px;
    border-radius: 10px;
    margin: 15px 0;
    font-weight: bold;
    box-shadow: 0px 0.6px 1px rgb(0, 0, 0, 0.1);
}

.box-text {
    border: 3px solid #f2c94c; border-radius: 20px;
    padding: 15px; font-size: 14px; text-align: left;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

.dades-item {
    display: flex; align-items: center; margin-bottom: 10px;
}
.dades-item span { margin-left: 10px; font-size: 14px; }

/* ÍCONOS DATOS */

.icon-tel, .icon-loc, .icon-mail {width: 20px; height: 20px; background-size: contain; background-repeat: no-repeat; }
.icon-tel { background-image: url(../img/tel.png); }
.icon-loc { background-image: url(../img/loc.png); }
.icon-mail { background-image: url(../img/mail.png); }

.box-progres {
    border: 3px solid #FFBE06;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.panot-icon {
    width: 30px;
    height: 30px;
    background-image: url(../img/panot-groc.png);
    background-size: contain;
    background-repeat: no-repeat; }

/* BARRA MENÚ */

.barra {
    width: 100vw;
    height: 22.8vw;
    background-image: url(../img/fondmenu-grups.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.barra ul {
    width: 90.2vw;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    top: 7vw;
}

.barra li {
    width: 14.15vw;
    height: 14.15vw;
    margin: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.barra li a {
    width: 14.15vw;
    height: 14.15vw;
    display: block;
}

.barra li .pannot a {
    width: 18.6vw;
    height: 18.6vw;
}

/* ICONS MENU */

.home {
    background-image: url(../img/home-groc.png);
}

.grups {
    background-image: url(../img/grups-blanc.png);
}

.pannot {
    background-image: url(../img/panot-groc.png);

    height: 18.6vw !important;
    width: 18.6vw !important;
    margin-left: 3.5vw !important;
    margin-right: 3.5vw !important;
    top: -3vw;
}

.recursos {
    background-image: url(../img/recursos-groc.png);
}

.perfil {
    background-image: url(../img/perfil-groc.png);
}

/* VINCULOS */

/* Pagina 2 - Grups */
#pg2grups .barra { background-image: url(../img/fondmenu-grups.png); }
#pg2grups .home { background-image: url(../img/home-groc.png); }
#pg2grups .grups { background-image: url(../img/grups-blanc.png); }

/* Pagina 3 - Panot */
#pg3panot .barra { background-image: url(../img/fondmenu-panot.png); }
#pg3panot .home { background-image: url(../img/home-groc.png); }
#pg3panot .pannot { background-image: url(../img/panot-blanc.png); }

/* Pagina 4 - Recursos */
#pg4recursos .barra { background-image: url(../img/fondmenu-recursos.png); }
#pg4recursos .home { background-image: url(../img/home-groc.png); }
#pg4recursos .recursos { background-image: url(../img/recursos-blanc.png); }

/* Pagina 5 - Perfil */
#pg5perfil .barra { background-image: url(../img/fondmenu-perfil.png); }
#pg5perfil .home { background-image: url(../img/home-groc.png); }
#pg5perfil .perfil { background-image: url(../img/perfil-blanc.png); }